@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

#canvas {
  background-image: url(../../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas__container {
  margin: 0 auto;
  position: relative;
}

#sound {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
}
#fullscreen {
  position: absolute;
  bottom: 20px;
  left: 70px;
  height: 30px;
  width: 30px;
}
.input {
  position: absolute;
  top: 24%;
  left: 50%;
  font-size: 24px;
  font-family: "DotGothic16", sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;

  transform: translateX(-50%);
}

.difficulty {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 24px;
  font-family: "DotGothic16", sans-serif;
  color: white;

  transform: translateX(-50%);
}

.controls {
  position: absolute;
  top: 42%;
  left: 50%;
  font-size: 24px;
  font-family: "DotGothic16", sans-serif;
  color: white;

  transform: translateX(-50%);
}

.pauseRef {
  position: absolute;
  top: 49%;
  left: 50%;
  font-size: 24px;
  font-family: "DotGothic16", sans-serif;
  color: white;

  transform: translateX(-50%);
}
.input::placeholder {
  color: white;
  text-align: center;
}
.grats {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 700;
  color: white;
}
.space {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 700;
  color: white;
}
.warning {
  position: absolute;
  bottom: 25px;
  left: 180px;
  transform: translateX(-20%);
  font-size: 14px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 700;
  color: yellow;
}

.leftArrow,
.rightArrow {
  cursor: pointer;
}
#gameover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
}
#youwon {
  width: 164px;
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
}

#pause {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}
#youlose {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#restart {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 1.8em;
  font-family: "DotGothic16", sans-serif;
  color: white;
}
